prog_GPU/miecoseprogmoderna/progettoGPU/dati_discreta1660sup.csv
prog_GPU/miecoseprogmoderna/progettoGPU/dati_foglie.csv
prog_GPU/miecoseprogmoderna/progettoGPU/relazione_sorting_parallelo_final.odf.odt
prog_GPU/miecoseprogmoderna/progettoGPU/sorting_counting_HALF.csv
prog_GPU/miecoseprogmoderna/progettoGPU/table_counting_HALF_discreta.csv
AlgoritmiV2/example.exe
basi_di_dati/documentation_funebre.pdf
basi_di_dati/documentation.docx
*.Rd
data_mining/progetto_Data/spippolox.R
*.Rhistory
*.drawio
*.RData
*~
*lyx
*.png